@import '~antd/dist/antd.css';

.header {
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 10;
  padding: 12px 2%; 
  box-shadow: 0 2px 8px #f0f1f2;
  /* border-bottom: 1px solid #999999 */
}

.container {
  padding-top:60px;
  display: flex;
  flex-direction: row;
  margin: 0 2%; 
}

.footer {
  width: 100%;
  height: auto;
  margin-top: 40px;
  background-color: rgba(28, 28, 30, 1);
}

.sider {
}

@media(max-width:600px){
  .sider {
    display: none;
  }
}

.content {
  /* text-align: center; */
  width: 100%;
}

/* Global reusable */
.flex-center {
  display: flex;
  place-content: center;
  align-items: center;
}

.flex-center-left {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}


/* Specific on top-level */
.header-title {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 24px;
}

.header-title:hover {
  color: rgba(10, 132, 255, 1)
}

.header-section {
  margin: auto 12px;
  padding: 2px 0px;
}

.header-logo{
  position: absolute;
  right: 0;
  top: 0;
  width: 180px;
  height: 65px;
  z-index: 99;
}

.header-input {
  margin-right: 12px;
  width: 200px;
}

/* OVERLOADS */
a:hover {
  color:rgba(0, 0, 0, 1);
}

.ant-anchor {
  font-size: 15px;
  padding: 20px 20px;
}

.ant-anchor-ink::before {
  position: relative;
  display: block;
  width: 0px;
  height: 100%;
  margin: 0 auto;
  content: '';
}

.ant-anchor-ink-ball {
  width: 1px;
  height: 8px;
  border: 1px solid #222;
  border-radius: 8px;
}

.ant-anchor-link-title.ant-anchor-link-title-active {
  color: rgba(0, 0, 0, 1);
}
