@import '~antd/dist/antd.css';

#App {
  text-align: center;
}


#header {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
  padding: 12px 80px;
  /* font-size: calc(10px + 2vmin); */
  box-shadow: 0 2px 8px #f0f1f2;
}

/* Global reusable */
.flex-center {
  display: flex;
  place-content: center;
}

.flex-center-left {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}


/* Specific on top-level */
.header-title {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 800;
  font-size: 24px;
}

.header-section {
  margin: 0 24px;
}

.header-input {
  margin-right: 12px;
}

.body {
  margin: 0 80px;
  /* display: block; */
}

.section-title {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 36px;
}

/* OVERLOADS */
.ant-anchor-ink::before {
  position: relative;
  display: block;
  width: 0px;
  height: 100%;
  margin: 0 auto;
  background-color: #e8e8e8;
  content: ' ';
}

.ant-anchor-ink-ball {
  position: absolute;
  left: 50%;
  display: none;
  width: 1px;
  height: 8px;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 8px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}

.ant-anchor-link-title.ant-anchor-link-title-active {
  color: rgba(0, 0, 0, 1);
}