@import '~antd/dist/antd.css';

.App {
  text-align: center;
}


.App-header {
  /* background-color: #f8f8f8; */
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: calc(10px + 2vmin);
  color: white;
}